
python-project/script-game-android/test.jpg

python-project/script-game-android/__pycache__/

python-project/script-game-android/result.jpg

python-project/script-game-android/result.png

python-project/script-game-android/screen.jpg

*.exe

c-project/opencv-sourec-test/.vs/

c-project/opencv-sourec-test/Debug/

c-project/opencv-sourec-test/opencv-sourec-test/Debug/

c-project/opencv-sourec-test/opencv-sourec-test/opencv-sourec-test.vcxproj.user

python-project/script-game-android/build/

python-project/script-game-android/dist/

python-project/script-game-android/al_script_gui2.spec

python-project/script-game-android/screenDC.jpg
