
python-project/script-game-android/test.jpg

python-project/script-game-android/__pycache__/

python-project/script-game-android/result.jpg

python-project/script-game-android/result.png

python-project/script-game-android/screen.jpg

*.exe

c-project/opencv-sourec-test/.vs/

c-project/opencv-sourec-test/Debug/

c-project/opencv-sourec-test/opencv-sourec-test/Debug/

c-project/opencv-sourec-test/opencv-sourec-test/opencv-sourec-test.vcxproj.user

python-project/script-game-android/build/

python-project/script-game-android/dist/

python-project/script-game-android/al_script_gui2.spec

python-project/script-game-android/screenDC.jpg

python-project/script-game-android/screen.png

python-project/script-game-android/screen2.png

python-project/script-game-android/screenArea.png

python-project/script-game-android/scriptStart.spec

python-project/script-game-android/successResult.png

python-project/script-game-android/pyinstaller

qt-project/build-hello-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/

qt-project/build-wych-qt-project-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/
